<div>
  <nav class="navbar navbar-expand-lg default-color text-dark d-flex sticky-top">
    <div class="container py-3 ">
      <div class="navbar-brand logo" routerLink="/">CV</div>
  
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbar-links"
        aria-controls="navbar-links"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item mx-2">
            <a class="btn knapp nav-link text-dark" routerLink="/">Startsida</a>
          </li>

          <li class="nav-item mx-3">
            <a class="btn knapp px-4 nav-link text-dark" routerLink="/cv">CV</a>
          </li>

          <li class="nav-item">
            <a class="btn knapp px-3 nav-link text-dark" routerLink="/bilder">Bilder</a>
          </li>

          <li class="nav-item mx-3">
            <a class="btn knapp nav-link text-dark" routerLink="/kontakt">kontakt</a>
          </li>

        </ul>
      </div>
  
    </div>
  </nav>
  </div>
