<img class="bg-img" src="../../../assets/img/white.jpg" alt="">

<div class="container text-black">
  <div class="startsida d-flex justify-content-center align-items-center ">
    <div class="jumbotron jumbotron-fluid mt-5 ">
      <h1 class="display-5">Amanda Friberg</h1>
      <p class="lead mark">Jag är en positiv person med mycket energi, gillar att testa på och lära mig nya saker. Jag ser oftast lösningar istället för problem. Skulle man fråga personer i min närhet så skulle beskrivningen vara att jag är en väldig lättsam person. Tillgänglig, hjälpsam, pratsam och positiv. 
        Jag är även en person som försöker känna av stämningen, kan uppfattas som tillbakadragen i början men det är så jag hittar vart och hur jag passar in. Läser av gruppen och anpassar mig. 
        
        Jag är en person som är bra på att anpassa mig, passar ofta in i de flesta grupperna. Värderar att man visar respekt och är trevliga mot varandra. 
        
        Jag är tjänstledig från min heltidstjänst på Svenska Retursystem som maskinoperatör. Vilket går ut på att se till att maskinerna rullar och att produktionen går så bra som möjligt. Mycket lösning av problem såsom laga delar som går sönder, fixa krascher, komma på idéer om hur produktionen ska kunna gå ännu bättre och köra truck mm. Jobbar 12h pass både dag och natt. Mycket eget ansvar och samarbete då vi är ett skift som jobbar ensamma med maskinerna. Jobbar nu extra vid tillfälle.
        
        Studerar just nu på EC utbildning till Frontend-utvecklare i Västerås, kursen började i september 2020 och pågår till 2022.</p>
      
        <div class="container mt-5">
        <h6 class="btn btn-outline py-3 mx-3 text-black" routerLink="/cv">Tryck här för att komma till mitt CV</h6>
        <h6 class="btn btn-outline py-3 text-black" routerLink="/bilder">Eller här för att komma till bilder</h6>
      </div>
    </div>
  </div>
</div>







